@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  

  /* :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --stroke: 0, 0%, 98%, 0.1;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  } */
 
  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  } */

  :root {
    --primary-black: 0deg 0% 0%;
    --white: 0deg 0% 100%;
    --primary-white: 0deg 0% 100%;

    --accent-shade: 222deg 46% 17%;
    --accent-1: 222deg 47% 11%;
    --accent-2: 241deg 77% 63%;
    --accent-3: 330deg 81% 60%;
    --accent-4: 0deg 91% 71%;

    --white: 0deg 0% 100%;
    --text: 226deg 100% 94%;
    --text-alt: 230deg 39% 68%;
    --text-muted: 226deg 22% 73%;

    --stroke: 0deg 0% 98%;
    --alt-stroke: 0deg 0% 98%;

    --gray-50: 0deg 0% 98%;
    --gray-100: 220deg 20% 97%;
    --gray-200: 216deg 11% 91%;
    --gray-300: 210deg 9% 82%;
    --gray-400: 212deg 8% 65%;
    --gray-700: 208deg 9% 30%;
    --gray-600: 208deg 7% 37%;
    --gray-500: 212deg 7% 43%;
    --gray-800: 208deg 10% 25%;
    --gray-900: 210deg 12% 16%;
    --gray-1000: 210deg 12% 16%;

    --radius: 0.5rem;
  }

  .dark {
    --primary-black: 0deg 0% 0%;
    --primary-white: 0deg 0% 100%;

    --accent-shade: 222deg 46% 17%;
    --accent-1: 222deg 47% 11%;
    --accent-2: 241deg 77% 63%;
    --accent-3: 330deg 81% 60%;
    --accent-4: 0deg 91% 71%;
    
    --text: 226deg 100% 94%;
    --text-alt: 230deg 39% 68%;
    --text-muted: 226deg 22% 73%;

    --stroke: 0deg 0% 98%;
    --alt-stroke: 0deg 0% 98%;

    --gray-50: 0deg 0% 98%;
    --gray-100: 220deg 20% 97%;
    --gray-200: 216deg 11% 91%;
    --gray-300: 210deg 9% 82%;
    --gray-400: 212deg 8% 65%;
    --gray-700: 208deg 9% 30%;
    --gray-600: 208deg 7% 37%;
    --gray-500: 212deg 7% 43%;
    --gray-800: 208deg 10% 25%;
    --gray-900: 210deg 12% 16%;
    --gray-1000: 210deg 12% 16%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}